@using Microsoft.AspNetCore.Identity;
@using Komis.Infrastructure.Services;
<!DOCTYPE html>

@inject SignInManager<IdentityUser> _signInManager;
@inject IOpinionService _opinionService;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="~/jquery-3.3.1.min.js"></script>


</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <a asp-controller="Home" asp-action="Index" class="navbar-brand">Strona główna</a></li>
                    <li> <a asp-controller="Opinion" asp-action="Index">Kontakt</a></li>
                </ul>
                @if (_signInManager.IsSignedIn(User))
                {

                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("Admin"))
                        {
                            <li> <a asp-controller="Car" asp-action="AddNewCar">Dodaj ogłoszenie</a></li>
                            <li> <a asp-controller="Opinion" asp-action="List">Odpowiedz<b> (@await _opinionService.GetNumberOfRequiredAsync()) </b></a></li>
                        }
                    </ul>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
                          method="post" class="navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a>Jesteś zalogowany jako <b> @User.Identity.Name </b> </a> </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
                        </ul>
                    </form>
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li> <a id="registerLink" asp-controller="Account" asp-action="Register">Rejestracja</a></li>
                        <li> <a id="loginLink" asp-controller="Account" asp-action="Login">Logowanie</a></li>
                    </ul>
                }
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="row">
            <br />
            @RenderBody()
        </div>
    </div>

</body>
</html>
