@model Car;

<h2> Tutaj możesz edytować wybrne ogłoszenie</h2>
<hr />


<form asp-action="Edit" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Brand" class="col-md-2 control-label">Marka</label>
        <div class="col-md-5">
            <input asp-for="Brand" class="form-control" />
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Model" class="col-md-2 control-label">Model</label>
        <div class="col-md-5">
            <input asp-for="Model" class="form-control"/>
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Capacity" class="col-md-2 control-label">Pojemność [cm<SUP>3</SUP>]</label>
        <div class="col-md-5">
            <select asp-for="Capacity" class="form-control">
                @for (int i = 1000; i <= 2000; i += 100)
                {
                <option value="@i cm3">@i cm3</option>
                }
            </select>
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FuelType" class="col-md-2 control-label">Typ paliwa</label>
        <div class="col-md-5">
            <select asp-for="FuelType" class="form-control" size="4">
                <option value="LPG">LPG</option>
                <option value="benzyna">Benzyna</option>
                <option value="diesel">Diesel</option>
                <option value="benzyna+LPG">Benzyna + LPG</option>
            </select>
            <span asp-validation-for="FuelType" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Milage" class="col-md-2 control-label">Przebieg [km]</label>
        <div class="col-md-5">
            <input asp-for="Milage" class="form-control"  />
            <span asp-validation-for="Milage" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Power" class="col-md-2 control-label">Moc [KM]</label>
        <div class="col-md-5">
            <input asp-for="Power" class="form-control" />
            <span asp-validation-for="Power" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="col-md-2 control-label">Cena [zł]</label>
        <div class="col-md-5">
            <input asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="YearOfProduction" class="col-md-2 control-label">Rok produkcji</label>
        <div class="col-md-5">
            <select asp-for="YearOfProduction" class="form-control">
                @for (int i = 1980; i <= 2019; i++)
                {
                    <option value=@i> @i </option>
                }
            </select>
            <span asp-validation-for="YearOfProduction" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PictureURL" class="col-md-2 control-label">Zdjęcie</label>
        <div class="col-md-5">
            <input asp-for="PictureURL" class="form-control"/>
            <span asp-validation-for="PictureURL" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label">Opis</label>
        <div class="col-md-5">
            <textarea asp-for="Description" class="form-control"> @Model.Description </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" id="submit_btn" class="btn btn-primary" value="Edytuj samochód" />
        </div>
    </div>
</form>

