@model AddOpinion;

<h2> Tutaj możesz wysłać opinię dotyczącą tego serwisu</h2>
<hr />
<form asp-action="Index" method="post" class="form-horizontal" role="form">

    <div class="form-group">
        <label asp-for="Username" class="col-md-2 control-label">Nazwa użytkownika</label>
        <div class="col-md-5">
            <input asp-for="Username" class="form-control" value="@User.Identity.Name" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label">Email</label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" value=@ViewData["Email"] />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Topic" class="col-md-2 control-label">Temat</label>
        <div class="col-md-5">
            <input asp-for="Topic" class="form-control"/>
            <span asp-validation-for="Topic" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Message" class="col-md-2 control-label">Wiadomość</label>
        <div class="col-md-5">
            <textarea asp-for="Message" class="form-control"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="WaitingForAnAnswer" class="col-md-2 control-label">Oczekuję odpowiedzi</label>
        <div class="col-md-5">
            <input type="checkbox" asp-for="WaitingForAnAnswer" class="form-control" style="width:23px" />
            <input type="submit" id="submit_btn" class="btn btn-primary pull-right" value="Wyślij opinię" />
        </div>
    </div>
</form>



