body {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    font-family:'Segoe UI';
   
}

.body-content{
    padding-left: 10px;
    padding-right: 10px;
}

h4 {
   line-height:70%;
}
h3 {
    line-height:70%;
}

@font-face {
    font-family: 'Montserrat-UltraLight';
    src: url('Montserrat-UltraLight.woff2');
}