body {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    font-family: Arial;
    background-image: url("https://google.com");
}

.body-content{
    padding-left: 10px;
    padding-right: 10px;
}

h4 {
   line-height:70%;
}
h3 {
    line-height:70%;
}